{% extends "registration/base.html"%} 
{ % load bootstrap4 %} 
{%load static%} 
{% block content %}
<div class="container">
  <div class="row signup-page">
    <div class="col-md-6">
      <div class="lay"></div>
      <img src="/static/photos/phones.jpg" alt="Phone images">
    </div>
    
    <div class="col-md-3">
      {% if form.errors %}
      <p>some informations may be incorrect</p>
      {% endif %}
      <div class="card">
        <div class="card-heading">
          <h3 class="text-center"><img width="200px" height="80px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/2000px-Instagram_logo.svg.png"
              alt=""></h3>
        </div>
        <div class="card-body">
          <div class="signup">
            <div class="section">
              <h2>Sign up</h2>
              <div class="form-section">
                <form method="post">
                  {% csrf_token %} {% for field in form %}
                  <p>
                    {{ field.label_tag }}<br> {{ field }} {% if field.help_text %}
                    <small style="display: none">{{ field.help_text }}</small>
                    {% endif %} {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                  </p>
                  {% endfor %}
                  <button type="submit">Sign up</button>
                </form>
              </div>
            </div>
            <div class="section">
              <p>Have an account? <a href="/accounts/login/">Sign In</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">

    </div>

  </div>
</div>
{% endblock %}