
<nav class="navbar">
    <a href="{% url 'index' %}"> <section class="logo-section"><img class="logo" src="https://seeklogo.com/images/I/instagram-new-2016-glyph-logo-84CB825424-seeklogo.com.png"/>
      <div></div><img class="logoname" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/2000px-Instagram_logo.svg.png"/>
    </section></a>
    <form class="navbar-form" role="search" action="">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search.." name="article">
      </div>
    </form>
    
    <div class="col-sm-6 col-md-6">
      {% if user.is_authenticated %}
      <ul>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                      <span class="caret"></span>
                  </a>
            <ul class="dropdown-menu" role="menu">
              
              
              <li>
                <a href="/accounts/password/change">Change Password</a>
              </li>
              <li>
                <a href="/logout">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      {% else %}
      <li>
        <a class='btn btn-default' href="/accounts/login">Login</a>
      </li>

      {% endif %}
    </div>

    <section class="icons-section"><a class="fa fa-compass" href=""></a><a class="fa fa-heart-o" href=""></a><a class="fa fa-user-o" href="{% url 'profile' %}"></a></section>
  </nav>